#nav {
  background-color: #222831;
  /*  margin-bottom: 1.5rem; */
}

#nav .navbar-brand {
  color: #00adb5;
}

#nav .nav-link:hover {
  color: #eeeeee;
}

@media only screen and (min-height: 800px) and (min-width: 1000px) {
  .nav-item-active {
    background-color: #00adb5 !important;
    color: white !important;
    position: inherit;
    bottom: -2em;
    height: 0.3em;
    border-radius: 0.5em;
  }
}
/* #nav #btn-signup, #btn-signin{
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  font-size: 0.9rem;
}

#nav #btn-signup{
  background-color: #EEEEEE;
  color: #393E46;
}

#nav #btn-signin {
  background-color: #00ADB5;
  border-color: #00ADB5;
  color: #393E46;
}

#nav #btn-signup:hover{
  background-color: #393E46;
  color: #EEEEEE;
}

#nav #btn-signin:hover{
  background-color: #393E46;
  color: #EEEEEE;
} */
